* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: hsl(235, 18%, 26%);
}

#container{
    width: 700px;
    height: 450px;
    margin: 70px auto 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 7px 5px 15px 0 rgb(0, 0, 0, 1);
}

.img-pc{
    position: absolute;
    right: 440px;
    height: 390px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#text{
    position: relative;
    top: 20px;
    left: 60px;
    width: 300px;
    height: 360px;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title{
    display: block;
    padding-top: 40px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 40px;
    color: hsl(234, 29%, 20%);
}

.p{
    display: block;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 15px;
}

#icons{
    margin-top: 15px;
    display: block;
    line-height: 10px;
    font-size: 15px;

    p{
        font-family: Roboto;
        font-size: 14px;
        position: relative;
        display: inline;
        bottom: 4px;
    }

    .one,
    .two,
    .three{
        width: 18px;
    }

    .two,
    .three{
        margin-top: 8px;
    }
}

#login{
    position: relative;
    left: 60px;
    bottom: 95px;
    width: 300px;
    height: 80px;
}

#txte{
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
}

#email{
    padding: 14px;
    width: 100%;
    font-family: Roboto;
    color: hsl(231, 7%, 60%);
    border: solid 2px hsl(231, 7%, 60%);
    border-radius: 5px;
    margin-top: 10px;
}

#fail{
    color: red;
    font-family: Roboto;
    font-size: 11px;
    margin: 2px 0 0 2px;
}

#btn{
    color: #fff;
    background-color: hsl(234, 29%, 20%);
    border: solid 2px hsl(234, 29%, 20%);
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    font-family: Roboto;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

#btn:hover{
    background-color: hsl(4, 100%, 67%);
    border: solid 2px hsl(4, 100%, 67%);
    box-shadow: 7px 5px 15px 0 hsl(4, 100%, 67%, 0.5);
}


.attribution{
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    text-align: center;
}